target/**
*.class
build/**
.gradle/**
.idea/**
TraceRunnerRuntimeInstrumentation/.idea/**
testApps/ManualInstTest/.idea/**
testApps/ManualInstTest/libs/**
testApps/MediaPlayerExample/.idea/**
testApps/ReturnValueTest/.idea/**
*.iml
*.iws
*.ipr
.DS_Store
testApps/output/
project/
utils/ProtoConverter/tracemsg_pb2.py
utils/ProtoConverter/tracemsg_pb2.pyc

